@import "~bootstrap/scss/bootstrap.scss";

.trafficLight{
    background-color: black;
    width: 200px;
    height: 480px;
    display: block;
    border-radius: 15px;
    margin: 100px auto;
    padding-top: 20px;

}
.light {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: auto;
}   
.red{
    background: red;    
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.selected {
    box-shadow: #f8ffcc 0px 0px 20px;
}
